@charset "UTF-8";

/* 回答はここに書いてね */
.table{
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.table td, .table th{
  border: 1px solid #dedede;
  padding: 10px 0;
  vertical-align: middle;
}

.table th{ 
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
  color: white;
}

.table td{
  font-size: 16px;
  line-height: 22px;
}

.table tr:nth-child(2n){
  background-color: #ecf1f2;
}

.cal > tr:last-child{
  border-top:2px dashed #000;
}

/* 回答はここに書いてね */
