@charset "UTF-8";

/* 回答はここに書いてね */
.table{
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

tr, td, th{
  border: 1px solid #dede;
  padding: 10px 0;
  vertical-align: middle;
}

tr:first-child,
tr > td:first-child{ /*trでの最初の要素*/
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
  color: white;
}

tr > td:not(:first-child){
  font-size: 16px;
  line-height: 22px;
}

tr:nth-child(3),
tr:nth-child(5){
  background-color: #ecf1f2;
}

tr:last-child{
  border-top:2px dashed #000;
}

/* 回答はここに書いてね */
